.form-control {
  @apply bg-transparent transition duration-300 ease-in-out border border-[#D0D5DD] 
    focus:ring-1 focus:ring-slate-600 focus:outline-none focus:ring-opacity-90 rounded-lg
    placeholder:text-[#98A2B3] text-[#475467] text-sm px-[14px] py-[10px] placeholder:font-normal block w-full;
}

.form-label {
  @apply mb-2 text-[#475467]  text-sm leading-6 capitalize cursor-pointer block w-full font-medium;
}

.input-control {
  @apply bg-transparent  transition duration-300 ease-in-out border border-[#D0D5DD] 
    focus:ring-0 focus:border-slate-400 focus:outline-none focus:ring-opacity-90 rounded-lg
    placeholder:text-[#98A2B3] text-[#475467] text-sm px-[14px] py-[10px] placeholder:font-normal block w-full ;
}
.input-label {
  @apply mb-[6px] text-[#475467]  text-sm leading-6 capitalize cursor-pointer font-normal;
}
.formGroup {
  &.has-error {
    .input-control {
      @apply border-danger-500 focus:ring-danger-500  focus:ring-opacity-90 focus:ring-1;
    }
  }
  &.is-valid {
    .input-control {
      @apply border-success-500 focus:ring-success-500 focus:ring-opacity-90 focus:ring-1;
    }
  }
}

.input-control[readonly] {
  @apply bg-slate-200 text-slate-400;
}

.input-control[disabled] {
  @apply cursor-not-allowed bg-slate-50 text-slate-800 placeholder:text-opacity-60;
}

// vue date range picker css
.text-vtd-primary-500-600 {
  color: #0f172a !important;
}
.bg-vtd-primary-500-500 {
  background-color: #0f172a !important;
}
.text-vtd-primary-500-500 {
  color: #0f172a !important;
}

.dark {
  .text-vtd-primary-500-600 {
    color: #f8fafc !important;
  }
  .text-vtd-primary-500-500 {
    color: #f8fafc !important;
  }
  .bg-vtd-primary-500-500 {
    background-color: #334155 !important;
  }
}

label {
  color: #475467 !important;
}

